.card {
    padding: 1rem 0;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 8px 16px 0px;
    &--header {
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid var(--border);
        display: flex;
        align-items: center;

        & h3 {
            text-transform: capitalize;
            padding-left: 0.5rem;
        }

        & h4 {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            text-transform: uppercase;

        }
    }

    &--content {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 1.5rem;

        & .info {
            width: 50%;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding: 0.5rem 0.25rem;
            label {
                font-size: var(--text-base);
                font-weight: 500;
            }

            p {
                color: rgba(0, 0, 0, .6);
                font-size: var(--text-base);
                text-align: left;
                line-height: 24px;
                letter-spacing: 0.44px;
            }
        }
    }
}